modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0 --port 5000"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Run"
author = 41413281
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5000"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 41413281
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80
